* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, 'system-ui', 'BlinkMacSystemFont', 'Segoe UI', 'Noto Sans', 'Apple Color Emoji', 'Segoe UI Symbol';
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}