.todo {
  &_list {
    &_tags {
      display: flex;
      align-items: center;
      gap: 4px;
    }

    &__item {
      border-radius: 7px;
      height: 166px;
      padding: 4px;
      background: #F4F8FF;
      min-height: 100%;

      &_footer {
        display: flex;
        justify-content: space-between;
      }

      &_header {
        cursor: pointer;
        float: left;
        display: -webkit-box;
        line-height: 17px;
        overflow: hidden;
        font-weight: 600;
        font-size: 14px;
        -webkit-line-clamp: 3;
        color: var(--primary-blue, #3D8FEC);
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
      }

      &_inner {
        box-shadow: 0 1px 2px 0 #D0DAEB, 0 0 2px 0 #EEF4FE;
        border-radius: 7px;
        background: #FFFFFF;
        height: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
      }
    }
  }
}